<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Dual Degree, Electronics & Electrical Communication Engineering</h1>
            <span>Indian Institute of Technology</span>
            <span><address>Kharagpur, India</address><time>2012 to 2017</time></span>
        </header>
        <!--p>
            <em>Bachelor's Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p-->
    </article>
</section>
