<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Chief-Editor</h1>
            <span><address>Awaaz, IIT Kharagpur</address><time>Apr’16-Apr'17</time></span>
        </header>
        <p>• Led a team of 11 Sub-Editors and 34 reporters to publish monthly newsletter with reach over 10,000 readers</p>
    </article>
    <article>
        <header>
            <h1>Head</h1>
            <span><address>Student Welfare Group, IIT Kharagpur</address><time>Apr’14-Mar’15</time></span>
        </header>
        <p>
            • Conceptualized and organized Reach-out Week for suicide awareness striking over 5000 students
        </p>
        <p>    
            • Initiated and launched Institute’s 1st ever ‘Public Speaking Forum’, one of the flagship programmes of SWG
        </p>
    </article>
</section>