<section class="thirteen columns">
    <h1>Internships</h1>
<article>
        <header>
            <h1>Security Research</h1>
            <span><address>Institute for Infocomm Research, Singapore</address><time>May’16-Jul’16</time></span>
        </header>
        <p>• Analysed baseband processor to identify possible ways to exploit underlying vulnerabilities in smartphones</p>
        <p>• Set-up an LTE network on USRPB200 using OpenAirInterface to fuzz baseband processor of smartphones</p>
        <p>• Devised a framework over OpenBTS using Sulley and Paramiko to automate SMS fuzzing of smartphones</p>

    </article>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><address>Sandisk India Device Design Centre, Bengaluru, India</address><time>May’15-Jul’15</time></span>
        </header>
        <p>• Developed Windows application named "GamePlan" to streamline the testing procedure using WPF and C#</p>
        <p>• Efficiently manipulated process handles to embed software tools (Java,Python & Windows) in the application</p>
    </article>
    <article>
        <header>
            <h1>Hardware Intern</h1>
            <span><address>Narnix Tecnolabs ,New Delhi, India</address><time>May'14-Jun'14</time></span>
        </header>
        <p>• Formulated Schematic & PCB Layout Design of Peripheral Board for Energy Management Data Concentrator Unit (EMDCU)</p>
        <p>• Designed PCB Layout of 5V, 4A Switched-mode power supply (SMPS) for Peripheral Board of EMDCU</p>
    </article>
</section>