<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>Co-Founder & CTO</h1>
            <span><address>Alive Home Technologies PVT. LTD., India</address><time>2015 to 2016</time></span>
        </header>
        <p>• Developed IoT device to automate electrical appliances reducing wastage of electricity in campus</p>
        <p>• Covered by prominent newspapers and websites including YourStory, The Economic Times & India Today</p>
        <p>• Won the title of 'Most Innovative Product' in Empresario 2016 for 'Life', a smart switch</p>
        <p>• Secured 1st runner-up position in The Business Plan Competition 2016 organized by Kshitij, IIT Kharagpur</p>
  
    </article>
</section>
